<main id="login">
  <div id="logo">
    <img src="../assets/img/atm.png" alt="Logo ATM" width="150" height="150">
  </div>

  <h2>¡Bienvenid@!</h2>
  <p>Inicia sesión para continuar</p>

  <div class="form-group">
    <label for="nDoc">Número de documento:</label>
    <input type="text" id="nDoc">
  </div>

  <div class="form-group mb-3">
    <label for="clave">Contraseña:</label>
    <input type="password" id="clave">
  </div>

  <button id="ingresar" class="btn-block">
    Ingresar
  </button>
</main>